import { ChangeDetectionStrategy, Component } from '@angular/core';

@Component({<% if(!skipSelector) {%>
  selector: '<%= selector %>',
  <% } %>
  templateUrl: './<%= dasherize(name) %><%= type ? '.' + dasherize(type): '' %>.html',
  styleUrls: ['./<%= dasherize(name) %><%= type ? '.' + dasherize(type): '' %>.<%= style %>'],
  changeDetection: ChangeDetectionStrategy.<%= changeDetection %>
})
export class <%= classify(name) %><%= classify(type) %> {
  constructor() { }
}